<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- FAQ SQL Mapper -->
<mapper namespace="com.board.dao.FileMapper">
	
	<insert id="insertFile" useGeneratedKeys="true" keyProperty="fileId" >
		INSERT INTO TB_FILE (
			 ORIG_NM
			,LOGI_NM
			,LOGI_PATH
			,EXT
			,SIZE
			,REG_DT
		)VALUES(
			 #{origNm}
			,#{pyscNm}
			,#{pyscPath}
			,#{fileExt}
			,#{fileSize}
			,NOW()
		)
	</insert>
	
	<!-- 파일 조회 -->
	<select id="getFileInfo" resultType="CamelMap">
		SELECT
			 FILE_ID
			,ORIG_NM
			,LOGI_NM
			,LOGI_PATH
			,EXT
			,SIZE
			,REG_DT
		FROM
			TB_FILE
		WHERE
			FILE_ID = #{fileId}	
	</select>
	
	<!-- 파일 논리삭제 -->
	<update id="deleteFile">
		UPDATE
			TB_BOARD_FILE
		SET
			USE_YN = 'N'
		WHERE
			FILE_ID = #{fileId}		
	</update>
	
	
</mapper>